@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nsd);
  --font-mono: var(--font-nsm);
  --font-rail: var(--font-raleway)
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: var(--color-gray-400); */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nsd), Helvetica, sans-serif;
}

.link, a {
  color: var(--color-blue-400);
  text-decoration: underline;
  white-space:nowrap;
}

.link:hover, a:hover {
  color: var(--color-blue-500);
}

.link:active, a:active {
  color: var(--color-blue-300);
}

.link-red {
  color: var(--color-red-400);
  text-decoration: underline;
}

.link-red:hover {
  color: var(--color-red-500);
}

.link-red:active {
  color: var(--color-red-300);
}

.smallcaps {
  @apply text-gray-600 text-lg;
  font-variant-caps: small-caps;
}


b {
  font-weight: bold;
}

.tabindent {
  @apply pl-3 bg-gray-100 rounded-md;
}

.tabindent:hover {
  @apply bg-gray-200;
}

kbd {
  @apply font-mono text-blue-400;
}

.border-lef {
  @apply pl-3;
  border-left: 3px var(--color-gray-300) solid;
}

details {
  max-height: 30px;
  overflow-y: hidden;
  transition: max-height 0.5s ease;
}

summary {
  cursor: pointer;
}

details:open, details[open] {
  max-height: 50%;
}